@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #7c3aed;
  color: white;
  border: none;
}

button:hover {
  background-color: #6d28d9;
}

a {
  color: #7c3aed;
}

a:hover {
  color: #a78bfa;
}

* {
  font-family: Arial, sans-serif;
}

.container {
  background: #111;
  border-radius: 12px;
  padding: 20px;
}
